<ion-content [fullscreen]="true">
  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Welcome to Exodus</h1>
      <p style="font-size: 16px">
        Create an account and access thousand<br />
        of coll stuff
      </p>
    </ion-text>

    <ion-button>Get Started </ion-button>
    <ion-text>
      <p class="bellow_text">
        Do you have an account?<a style="color: black"><b> Log In</b></a>
      </p>
    </ion-text>
  </div>
</ion-content>
