ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure full viewport height */
  text-align: center;
}

ion-img {
  display: block;
  margin: 100px auto 0 auto;
  width: 150px;
  height: 150px;
}

.container {
  text-align: center;
}

.ion-padding {
  margin-top: 40px;
}

ion-button {
  margin-top: 40px;
  height: 55px;
  width: 350px;
  --border-radius: 14px;
  --border-color: #0f45b6;
  font-size: 18px;
}

.input {
  font-size: 300;
}

ion-item {
  --background: #f1f1f1;
  border-radius: 10px;
  margin-bottom: 16px;
}
