<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="back()">
      <ion-icon style="font-size: 40px" name="arrow-back-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>

  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Reset password</h1>
      <p style="font-size: 16px">Please fill below your email</p>
    </ion-text>

    <div class="ion-padding">
      <ion-item>
        <ion-input
          [(ngModel)]="email"
          placeholder="email"
          class="input"
        ></ion-input>
        <ion-icon name="mail-outline"></ion-icon>
      </ion-item>
    </div>

    <ion-button (click)="resetPassword()">Reset password </ion-button>
  </div>
</ion-content>
