<ion-content [fullscreen]="true">
  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Reset password</h1>
      <p style="font-size: 16px">Please fill below your email</p>
    </ion-text>

    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input placeholder="email" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
      </div>
    </form>

    <ion-button [routerLink]="['/']">Reset password </ion-button>
  </div>
</ion-content>
