<ion-content [fullscreen]="true">
  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Sign Up Now</h1>
      <p style="font-size: 16px">Please fill the details and create account</p>
    </ion-text>

    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input placeholder="name" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input placeholder="email" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input placeholder="password" class="input"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
      </div>
    </form>

    <ion-button [routerLink]="['/login']">Sign up </ion-button>
    <ion-text>
      <p class="bellow_text">
        Have an account?<a
          style="color: black; text-decoration: none"
          [routerLink]="['/login']"
          ><b> Log in</b></a
        >
      </p>
    </ion-text>
  </div>
</ion-content>
