<ion-content [fullscreen]="true">
  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Sign Up Now</h1>
      <p style="font-size: 16px">Please fill the details and create account</p>
    </ion-text>

    <form [formGroup]="regForm">
      <div class="ion-padding">
        <ion-item>
          <ion-input
            formControlName="fullname"
            placeholder="name"
            class="input"
          ></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <div
          *ngIf="this.regForm.controls?.['fullname']?.touched && this.regForm.controls?.['fullname']?.invalid"
        >
          <ion-text
            *ngIf="this.regForm.controls?.['fullname']?.errors?.['required']"
          >
            Fullname is required
          </ion-text>
        </div>

        <ion-item>
          <ion-input
            formControlName="email"
            placeholder="email"
            class="input"
          ></ion-input>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-item>
        <div
          *ngIf="this.regForm.controls?.['email']?.touched && this.regForm.controls?.['email']?.invalid"
        >
          <ion-text
            *ngIf="this.regForm.controls?.['email']?.errors?.['required']"
          >
            Email is required
          </ion-text>
          <ion-text
            *ngIf="this.regForm.controls?.['email']?.errors?.['pattern']"
          >
            Email should be valid
          </ion-text>
        </div>

        <ion-item>
          <ion-input
            formControlName="password"
            placeholder="password"
            type="password"
            class="input"
          ></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>

        <div
          *ngIf="this.regForm.controls?.['password']?.touched && this.regForm.controls?.['password']?.invalid"
        >
          <ion-text
            *ngIf="this.regForm.controls?.['password']?.errors?.['required']"
          >
            Password is required
          </ion-text>

          <ion-text *ngIf="errorControl['password']?.errors?.['pattern']">
            Password must have at least One lowercase letter, One upercase
            letter, 8 characters
          </ion-text>
        </div>
      </div>
    </form>

    <ion-button (click)="signUp()">Sign up </ion-button>
    <ion-text>
      <p class="bellow_text">
        Have an account?<a
          style="color: black; text-decoration: none"
          [routerLink]="['/login']"
          ><b> Log in</b></a
        >
      </p>
    </ion-text>
  </div>
</ion-content>
