<ion-content [fullscreen]="true">
  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Log In Now</h1>
      <p style="font-size: 16px">Please login to continue using our app</p>
    </ion-text>

    <div class="form_container">
      <ion-item>
        <ion-input placeholder="Email"> </ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="password" placeholder="Password"> </ion-input>
      </ion-item>
    </div>

    <ion-button>Log In </ion-button>
    <ion-text>
      <p class="bellow_text">
        Don't have an account?<a style="color: black"><b> Sign up</b></a>
      </p>
    </ion-text>
  </div>
</ion-content>
