<ion-content [fullscreen]="true">
  <ion-img src="assets/exodus.png" />

  <div class="container">
    <ion-text>
      <h1 style="color: #064af5; font-size: 30px">Log In Now</h1>
      <p style="font-size: 16px">Please login to continue using our app</p>
    </ion-text>

    <form>
      <div class="ion-padding">
        <ion-item>
          <ion-input placeholder="username" class="input"></ion-input>
          <ion-icon name="person-outline"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-input placeholder="password" class="input"></ion-input>
          <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-item>
      </div>

      <div class="forgotPassword">
        <a [routerLink]="['/reset-password']" style="color: black"
          ><b>Forgot password?</b></a
        >
      </div>
    </form>

    <ion-button [routerLink]="['/home']">Log In </ion-button>
    <ion-text>
      <p class="bellow_text">
        Don't have an account?<a
          style="color: black; text-decoration: none"
          [routerLink]="['/signup']"
          ><b> Sign up</b></a
        >
      </p>
    </ion-text>
  </div>
</ion-content>
